<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="大细路博客">

    <title>大细路</title>

<link rel="Shortcut Icon" href="/media/uploads/2016/05/10/icon.jpg">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="/static/blog/css/layouts/blog_list_page.css">



</head>
<body>

<div id="layout">
    
    <!--Meny toggle-->
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a href="{% url 'home_page' 1%}"<span class="pure-menu-heading" >Blog</span></a>

            <ul class="pure-menu-list">
                {% for category in category_list %}
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{% url 'category_page' category.slug 1%}">
                        {{ category.category }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="main">
        {% for article in blog_list_page %}
            <div class="main-article">
                <div class="header">
                    <h1><a href="{% url 'blog_detail' article.pk %}" >{{ article.tittle }}</a></h1>
                    <p>发表时间:{{ article.create_time }}</p>
                    <p>
                    {% for tag in article.tag.most_common %}
                        标签:<a class="tag-button" href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>
                    {% endfor %}
                    点击量:{{ article.access_count }}
                    </p>
                </div>
                <div class="content">
                    <p>
                    {{ article.snippet }}......
                    </p>
                </div>
            </div>
        {% endfor %}

        <div class="page-list">
            {% if url_type = "category" %}
                {% for page in paginator.page_range %}
                    <a class="pure-button" href="{% url 'category_page' url_data page %}">{{page}}</a>
                {% endfor %}
            {% elif url_type = "tag" %}
                {% for page in paginator.page_range %}
                    <a class="pure-button" href="{% url 'tag_page' url_data page %}">{{page}}</a>
                {% endfor %}
            {% else %}
                {% for page in paginator.page_range %}
                    <a class="pure-button" href="{% url 'home_page' page  %}">{{page}}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="right-side">
        <div id="tag">
            <div class="tag_header">
                <a class="pure-button pure-button-primary" href="{% url 'tag_list' %}">标签</a>
            </div>
 
            <div class="tag_list">
                {% for tag in tag_list %}
                    <a href="{% url 'tag_page' tag.slug 1 %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
 
        </div>
 
        <div id="friendship">
            <h>真正的友情链接</h>
            <p>
            <img src="/media/uploads/2016/05/10/webwxgeticon.jpg" style="height:30px;width:30px;" href="http://feichashao.com/">
            <a href="http://feichashao.com/">肥叉烧同学</a>
            </p>
        </div>
    </div>
</div>


<script src="/static/blog/js/ui.js"></script>
</body>
</html>
