<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="大细路博客">
    <title>大细路home page</title>

<link rel="Shortcut Icon" href="/media/uploads/2016/05/10/icon.jpg">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure.css">

<link rel="stylesheet" href="/static/blog/css/layouts/home.css">


</head>
<body>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">脚踏实地,仰望星空</h1>
        <p class="splash-subhead">
            人生如梦,只希望好好把握时间,把握生命中的每一刻
            (装逼需要代价的)
        </p>
        <p>
            <a href="{% url 'home_page' 1 %}" class="pure-button button-success">点击进入</a>
        </p>
    </div>
</div>

</body>
</html>
